body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgba(23, 23, 23, 0), #171717 95%), url('https://wallpapercave.com/wp/wp12389554.jpg');
  background-color: #171717;
  background-size: 125% auto;
  background-repeat: no-repeat;
  background-fit: cover;
  background-position: 170% 100%;
  background-attachment: fixed;
  color: #fff;
}

.main-box-delete-movie {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}

.add-movie-container-delete-movie {
  text-align: center;
}

.delete-movie-title {
  font-size: 24px;
  color: #fff;
}

.form-add-movie-delete-movie {
  margin-top: 20px;
}

.form-global-delete-movie {
  display: flex;
  flex-direction: column;
  color: #000;
}

.form-left-column-delete-movie {
  margin-top: 10px;
  color: #000;
}

.delete-movie-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
}

.delete-movie-button {
  background-color: #de005d;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 0px;
  margin-right: 0px;
}

.delete-movie-button:hover {
  background-color: #ff5286;
}

.form-global-delete-movie {
  display: flex;
  flex-direction: column;
  color: #000;
}

