.main-box-3 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-left: 750px;
    margin-right: 750px;
    backdrop-filter: blur(20px);
}

.details-image-column {
    flex: 1;
    margin-right: 20px;
}

.details-image-column img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
}

.details-content-column {
    flex: 2;
}

.details-content-column h2 {
    margin-left: -80px;
    margin-right: 40px;
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

.details-content-column p {
    margin-left: -80px;
    margin-right: 40px;
    color: #ccc;
}

table {
    margin-left: -80px;
    width: 107%;
    margin-top: 20px;
}

.details-td {
    font-weight: bold;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    color: #de005d;
}

table td {
    padding: 8px;
    border: 1px solid #ccc;
    color: #ff5286;
}

.rating-container-2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.rating-2 {
  display: flex;
  align-items: center;
  color: orange;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 1);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.rating-2 span {
  margin-left: 5px;
}

.star-icon-2 {
  font-size: 20px;
  color: orange;
}

